<a href="https://colab.research.google.com/github/SimoneFinessi/Python/blob/main/Dizionari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dizionari
da https://www.w3schools.com/python/python_dictionaries.asp

I Dizionari sono collezioni ordinate, utilizzate per registrare serie di coppie di valori, formate da una chiave (Key) e un valore (Value).

In [ ]:
#Esempio
carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}
print(carlo)

{'genere': 'maschio', 'età': '15', 'altezza': 200}

Gli elementi all'interno dei dizionari sono ordinati, modificabili e non consentono duplicati.

In [ ]:
#Esempio
carlo = {
    "genere":"femmina",
    "genere":"maschio",
    "età":15,
    "altezza":200
}

#La chiave "genere" ripetendosi 2 volte, verrà presa in considerazione solo l'ultima.

print(carlo)

{'genere': 'maschio', 'età': '15', 'altezza': 200}

In [ ]:
#Esempio
carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

#Trattandosi di una collezione modificabile, possono essere aggiunti nuovi elementi
carlo.update({"cognome":"Borgheresi"})
carlo["capelli"] = "neri"

#Possono essere modificati
carlo["genere"] = "femmina"

#Possono essere rimossi
carlo.pop("età")

print(carlo)

{'genere': 'femmina', 'altezza': 200, 'cognome': 'Borgheresi', 'capelli': 'neri'}

Dizionari Nidificati - Nested Dictionaries

In [ ]:
#Un dizionario può contenere altri dizionari

famiglia = {
    "figlio0" : {
        "nome" : "carlo",
        "età" : 15,
        "altezza":200
    },
    "figlio1" : {
            "nome" : "gianni",
            "età" : 12,
            "altezza":150
        },
}

print(famiglia)

#Puoi anche creare dei Dizionari formati da altri già esistenti

figlio0 = {
    "nome" : "carlo",
    "età":15,
    "altezza":200
}

figlio1 = {
    "nome" : "gianni",
    "età":12,
    "altezza":150
}

famiglia = {
    "figlio0" : figlio0,
    "figlio1" : figlio1
}


print(famiglia)

{'figlio0': {'nome': 'carlo', 'età': 15, 'altezza': 200}, 'figlio1': {'nome': 'gianni', 'età': 12, 'altezza': 150}}
{'figlio0': {'nome': 'carlo', 'età': 15, 'altezza': 200}, 'figlio1': {'nome': 'gianni', 'età': 12, 'altezza': 150}}

#Loop con i Dizionari
da https://www.w3schools.com/python/python_dictionaries_loop.asp

In [ ]:
#Ecco un elenco di for loops per visualizzare in un altro modo i 

carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

#Per visualizzare tutte le Chiavi

for key in carlo:
  print(key)

#Oppure

for key in carlo.keys():
  print(key)

In [ ]:
#Per visualizzare tutti i Valori

for key in carlo:
  print(carlo[key])

#Oppure

for value in carlo.values():
  print(value)

maschio
15
200
maschio
15
200

In [ ]:
#Per visualizzare tutte le coppie Chiave-Valore

for key, value in carlo.items():
  print(key, value)

#Metodi
da https://www.w3schools.com/python/python_dictionaries_methods.asp

clear()

In [ ]:
#Rimuove tutti gli elementi all'interno di un Dizionario

LuigiXVI = {
    "genere":"maschio",
    "età":38
}

LuigiXVI.clear()
print(LuigiXVI)

{}

copy()

In [ ]:
#Copia gli elementi di un Dizionario in un altro

fifa22 = {
    "sviluppo":"EA Sports",
    "genere":"Calcio",
    "prezzo":"70€" 
}

fifa23 = fifa22.copy()
print(fifa23)

{'sviluppo': 'EA Sports', 'genere': 'Calcio', 'prezzo': '70€'}

fromkeys()

In [ ]:
#Assegna ad ogni chiave un valore uguale
#Le chiavi sono prese da una tupla e il valore da una seconda varibile

key = ("autostima", "motivazione", "felicità")
value = 0

vita = dict.fromkeys(key, value)
print(vita)

{'autostima': (7, 8, 9), 'motivazione': (7, 8, 9), 'felicità': (7, 8, 9)}

get()

In [ ]:
#Prende il valore associato alla chiave specificata

carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

centimetri = carlo.get('altezza')
print(centimetri)

#Prende anche il valore di un elemento che non è presente nella lista

fidanzata = carlo.get('fidanzata')
print(fidanzata)
print(carlo)

200
None
{'genere': 'maschio', 'età': 15, 'altezza': 200}

items()

In [ ]:
#Restituisce un view object che contiene come lista le coppie di chiave-valore in un Dizionario

carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

studente1 = carlo.items()
print(studente1)

dict_items([('genere', 'maschio'), ('età', 15), ('altezza', 200)])

In [ ]:
#Quando un elemento all'interno del Dizionario cambia valore, cambia anche nella nuova variabile

carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

studente1 = carlo.items()
print(studente1)

carlo['età'] = 16
print(studente1)

dict_items([('genere', 'maschio'), ('età', 15), ('altezza', 200)])
dict_items([('genere', 'maschio'), ('età', 16), ('altezza', 200)])

keys()

In [ ]:
#Restituisce un view object che contiene come lista le chiavi in un Dizionario

carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

umano = carlo.keys()
print(umano)

#Riflette i cambiamenti

carlo['capelli'] = 'neri'
print(umano)

dict_keys(['genere', 'età', 'altezza'])
dict_keys(['genere', 'età', 'altezza', 'capelli'])

values()

In [ ]:
#Restituisce un view object che contiene come lista i valori in un Dizionario

carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

decontensto = carlo.values()
print(decontensto)

dict_values(['maschio', 15, 200])

pop()

In [ ]:
#Rimuove una chiave e il suo valore dal Dizionario

carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

carlo.pop('genere')
print(carlo)

{'età': 15, 'altezza': 200}

popitem()

In [ ]:
#Rimuove l'ultimo elemento aggiunto e restituisce un view object contenente esso 

carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

carlo.popitem()
print(carlo)

cestino = carlo.popitem()
print(cestino)

{'genere': 'maschio', 'età': 15}
('età', 15)

setdefault()

In [ ]:
#Restituisce il valore associato alla chiave specificata

carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

vecchiaia = carlo.setdefault('età')
print(vecchiaia)

vecchiaia = carlo.setdefault('capelli')
print(vecchiaia)

15
None

#Esercizi

1. Crea un dizionario che contenga il tuo nome, cognome ed età

In [ ]:
papes={
    "nome":"Enki",
    "cognome":"Papes",
    "età":17,
}
print(papes)

{'nome': 'Enki', 'cognome': 'Papes', 'età': 17}

2. Aggiungi al dizionario la tua altezza

In [ ]:
papes["altezza"] = 190
print(papes)

{'nome': 'Enki', 'cognome': 'Papes', 'età': 17, 'altezza': 190}

3. Cambia la tua altezza con quella di Goku (175 cm)

In [ ]:
papes["altezza"] = 175
print(papes)

{'nome': 'Enki', 'cognome': 'Papes', 'età': 17, 'altezza': 175}

4. Visualizza il numero di chiavi

In [ ]:
len(papes.keys())

4

In [ ]:
len(papes)

4

5. Visualizza la seconda chiave

In [ ]:
keys=list(papes.keys())
print(keys[1])

cognome

6. Crea un nuovo dizionario uguale al primo

In [ ]:
papes2=papes.copy()
print(papes2)

{'nome': 'Enki', 'cognome': 'Papes', 'età': 17, 'altezza': 175}

7. Svuota il nuovo dizionario e visualizza il primo

In [ ]:
papes2.clear()
print(papes)

{'nome': 'Enki', 'cognome': 'Papes', 'età': 17, 'altezza': 175}

8. Nel secondo dizionario inserisci le chiavi "batte", "forte", "sempre" e assegna ad ognuna il valore "comodino".

In [ ]:
keys=("batte","forte","sempre")
value="comodino"
papes2=dict.fromkeys(keys,value)
print(papes2)

{'batte': 'comodino', 'forte': 'comodino', 'sempre': 'comodino'}

9. Visualizza con un ciclo tutti gli elementi presenti nel secondo dizionario

In [ ]:
for key in papes2:
  print(key,papes2[key])

batte comodino
forte comodino
sempre comodino

10. Rimuovi il valore della seconda chiave del secondo dizionario

11. Crea un dizionario chiamato Dizionarione che contenga sia il primo che il secondo

12. Aggiungi a Dizionarione un terzo dizionario che contenga 3 chiavi e 3 valori a tua scelta

13. Rimuovi il terzo dizionario da Dizionarione e visualizzalo

Esercizio 1
si vogliono memorizzare le informazioni riguardanti alcune nazioni dell'Unione Europea. In ogni nazione si vuole memorizzare nome, la capitale, la superficie e la popolazione.
Caricare le informazioni nella struttura dati ritenuta più opportuna.
Scrivere poi il codice per avere le seguenti informazioni:
1- dato il nome di una nazione tutte le sue informazioni 
2- dato il nome di una capitale, visualizzare la nazione a cui appartiene.
3- visualizzare il nome della nazione più estesa.
4- visualizzare la media delle popolazioni delle nazioni presenti.

In [ ]:
nazioni=[ 
    {
        "nome":"Italia",
        "capitale":"Roma",
        "superfice":301000,
        "popolazione":60000000
    },
    {
        "nome":"Romania",
        "capitale":"Bucarest",
        "superfice":238397,
        "popolazione":19000000
    },
    {
        "nome":"Portogallo",
        "capitale":"Lisbona",
        "superfice":92212,
        "popolazione":10000000
    },
    {
        "nome":"Spagna",
        "capitale":"Madrid",
        "superfice":505990,
        "popolazione":47330000
    },
    {
        "nome":"Francia",
        "capitale":"Parigi",
        "superfice":543940,
        "popolazione":67500000
    },
    {
        "nome":"Germania",
        "capitale":"Berlino",
        "superfice":357588,
        "popolazione":83130000
    }
]
print(nazioni)

In [ ]:
nazioni[2]["capitale"]

In [ ]:
for i in range(len(nazioni)):
  print(nazioni[i]["capitale"])

In [ ]:
for nazione in nazioni:
  print(nazione["capitale"])

In [ ]:
nazioned = input()
for i in nazioni:
  if i["nome"] == nazioned:
    print(i["capitale"])
    print(i["superfice"])
    print(i["popolazione"])

In [ ]:
capitaled = input()
for i in nazioni:
  if i["capitale"] == capitaled:
    print(i["nome"])
  else:
    print("non c'è questa nazione nella lista")

In [ ]:
superfici=[nazioni[i]["superfice"] for i in range(len(nazioni))]
for i in nazioni:
  if i["superfice"] == max(superfici):
    print(i["nome"])

In [ ]:
from statistics import mean
popolazioni=[nazioni[i]["popolazione"] for i in range(len(nazioni))]
mean(popolazioni)

47826666.666666664

Esercizio 2 
Memorizione in una opportuna struttura dati i nomi di 10 città europee e in un'altra struttura dati i nomi di 10 capitali. 
scrivere poi il codice necessario per avere i nomi delle città che sono anche capitali.

In [ ]:
città=["Milano","Roma","Lione","Porto","Barcellona","Madrid","Amsterdam","Atene","Berlino","Amburgo"]
capitali=["Roma","Lisbona","Madrid","Berlino","Bucarest","Atene","Riga","Sofia","Parigi","Copenaghen"]