<a href="https://colab.research.google.com/github/SimoneFinessi/Python/blob/main/esercizzi%20prima%20lezzione.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrivere al di sotto di ogni esercizio il codice richiesto. Al termine, consegnare su classroom il notebook realizzato.

0. assegnare alle variabili x, y e z i valori 10, 20 e 30 in un'unica istruzione. Assegnare alle variabili a, b e c il valore 100 sempre in un'unica istruzione

In [48]:
from re import A
a,b,c=10,20,30
print(a,b,c)
a=b=c=100
print(a,b,c)

100 20 30
100 100 100

1. far inserire all'utente due numeri interi, scambiarli e visualizzarli

In [50]:
N1=int(input("inserisci un numero:"))
N2=int(input("inserisci un altro numero:"))
N1,N2=N2,N1

print(N1,N2)

inserisci un numero:2
inserisci un altro numero:3
3 2

2. far inserire all'utente due numeri e calcolare lìelevamento a potenza del primo per il secondo. Provare poi a vedere qualk è l amasisma potenza del 2 che Python riece a calcolare: lo smartphone è altrettanto potente?

In [ ]:
numerodaelevare=int(input("inserisci il numero da alevare"))
numeroelevatore=int(input("inserisci il numero delle volte in cui va elevato"))
numerofinale=pow(numerodaelevare,numeroelevatore)
print(numerofinale)

3. far inserire all'utente tre numeri e visualizzare il massimo dei tre

In [ ]:
3numero1=int(input("inserisci il primo numero:"))
numero2=int(input("inserisci il secondo numero:"))
numero3=int(input("inserisci il terzo numero:"))
Npiùgrande=max(numero1,numero2,numero3)
print(Npiùgrande)

4. dati tre numeri, dire se con quei tre numeri possiamo costruire un triangolo

In [55]:
numero1=int(input("inserisci il primo numero:"))
numero2=int(input("inserisci il secondo numero:"))
numero3=int(input("inserisci il terzo numero:"))
if (numero1 + numero2)>numero3 and (numero1 + numero3)>numero2 and (numero2 + numero3)>numero1:
  print("si puo fare")
else:
 print("non si puo fare")

inserisci il primo numero:3
inserisci il secondo numero:4
inserisci il terzo numero:5
si puo fare

5. far inserire dall'utente le misure di due cateti di un triangolo rettangolo (valori reali) e calcolare l'area del rettangolo e l'ipotenusa

In [14]:
cateto1=int(input("inserisci il primo cateto:"))
cateto2=int(input("inserisci il secondo cateto:"))
somma=pow(cateto1,2) +pow(cateto2,2)
ipotenusa=pow(somma,1/2)
print(ipotenusa)

inserisci il primo cateto:4
inserisci il secondo cateto:3
5.0

6. far inserire un numero intero dall'utente e dire se è pari o dispari

In [15]:
numero=int(input("inserisci un numero: "))
if numero % 2 == 0:
    print("pari")
else:
    print("dispari")

inserisci il primo cateto:3
dispari

7. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

In [26]:
gradi=int(input("inserisci una temperatora in gradi: "))
F=(gradi *(9/5))+32
print(F)

inserisci una temperatora in gradi: 7
44.6

8. far inserire all'utente il valore di una temperatura in fahrenheit e convertirlo in gradi  gradi centigradi

In [ ]:
F=float(input("inserisci una temperatora in fahrenheit: "))
C=(F-32)*(5/9)
print(C)

9. far inserire all'utente una velocità in Km/h e visualizzare la stessa velocità in metri al secondo

In [27]:
velocità=float(input("inserisci una velocita in km/h: "))
ms=velocità/3.6
print(ms)

inserisci una velocita in km/h: 10
2.7777777777777777

10. far inserire all'utente il raggio di un cerchio e visualizzarne il diametro e l'area

In [56]:
import math

raggio=float(input("inserisci il raggio di un cerchio:  "))
area=math.pi*pow(raggio,2)
print("area: ",area)
diametro= raggio *2
print("diametro: ",diametro)

inserisci il raggio di un cerchio:  3
area:  28.274333882308138
diametro:  6.0

11. far inserire all'utente il suo nome e poi il suo cognome e visualizzare il suo cognome e il suo nome separati da uno spazio

In [30]:
nome=str(input("inserisci il tuo nome "))
cognome=str(input("inserisci il tuo cognome "))
print(cognome," ",nome)

inserisci il tuo nome simone
inserisci il tuo cognome finessi
finessi   simone

12. far inserire all'utente un numero e visualizzare il suo valore assoluto

In [ ]:
numero1=float(input("inserisci un numero "))
print(abs(numero1))

13. far inserire all'utente un voto e controllare che sia compreso tra 1 e 10, estremi inclusi, Se è compreso visualizzare la stringa 'OK' altrimenti visualizzare la stringa 'KO'

In [35]:
voto=float(input("inserisci un numero "))
if voto<=10 and voto>=1:
  print("ok")
else:
  print("KO")

inserisci un numero 12
KO

14. far inserire all'utente due numeri e dire se uno è multiplo dell'altro. Ad esempio se l'utente inserisse i valori 60 e 15 il programma dovrebbe visualizzare la stringa '60 è un multiplo di 15'. Stessa cosa se l'utente inserisse prima il 15 e poi il 60., Se non sono multipli, visualizzare un messaggio appropriato

In [ ]:
numero1=float(input("inserisci un numero "))
numero2=float(input("inserisci un numero "))
piùgrande=max(numero1,numero2)
piùpiccolo=min(numero1,numero2)
if piùgrande % piùpiccolo ==0:
  print(piùgrande,"è multiplo di", piùpiccolo)
else:
  print("non è multiplo")

15. far inserire all'utente la durata di un periodi di tempo in ore, minuti e secondi e convertirlo in secondi

In [ ]:
h=float(input("inserisci ore "))
M=float(input("inserisci minuti "))
s=float(input("inserisci secondi "))
sh=(h*60)*60
sM=M*60
stot=sh+sM+s
print(stot)

16. far inserire all'utente la durata di un periodo in secondi e convertirlo in ore, minuti e secondi

In [ ]:
s=int(input("inserisci secondi "))
h=int(s/3600)
print(h)
s=s-(h*3600)
m=int(s/60)
print(m)
s=s-(m*60)
print(h,":",m,":",s)