<a href="https://colab.research.google.com/github/SimoneFinessi/Python/blob/main/esercizzi_ripasso_per_verifica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 inserire i dati in strutture dati opportune

In [2]:
nomi=["Luca", "Carlo", "Maria", "Angela", "Stefano", "Davide"]
altezza=[1.80, 1.67, 1.75, 1.68, 1.81, 1.78 ]
kg=[77, 48, 81, 55, 90, 70]

2) far inserire all'utente un nome e fornire il peso e l'altezza dello studente inserito

In [ ]:
nomeinserito=input("inserisci un nome fra Luca, Carlo, Maria, Angela, Stefano e Davide:")
try:
 posizione=nomi.index(nomeinserito)
 print(altezza[posizione],"m",kg[posizione],"Kg")
except:
 print("scrivi il nome con la lettera maiuscola")

visualizzare il nome dello studente più alto

In [9]:
print("il più alto e:", nomi[altezza.index(max(altezza))])

il più alto e: Stefano

visualizzare il nome dello studente più magro

In [10]:
print("il più magro e:", nomi[kg.index(min(kg))])

il più magro e: Carlo

 far inserire il nome di uno studente e calcolare il suo IMC

In [12]:
nomeinserito=input("inserisci un nome fra Luca, Carlo, Maria, Angela, Stefano e Davide:")

imc= kg[nomi.index(nomeinserito)]/pow(altezza[nomi.index(nomeinserito)],2)
print(imc)

inserisci un nome fra Luca, Carlo, Maria, Angela, Stefano e Davide:Luca
23.76543209876543

calcolare il peso medio degli studenti

In [13]:
from statistics import mean
print(mean(kg))

70.16666666666667

visualizzare il numero di studenti

In [14]:
len(nomi)

6

 aggiungere lo studente Marco che pesa 76 Kg ed è alto 1.90

In [16]:
nomi.append("marco")
kg.append(76)
altezza.append(1.90)

eliminare le informazioni riguardanti Maria

In [17]:
try:
 nomi.pop(nomi.index("Maria"))
 kg.pop(nomi.index("Maria"))
 altezza.pop(nomi.index("Maria"))
except:
  print("Maria e gia stata tolta")
print(nomi)

Maria e gia stata tolta
['Luca', 'Carlo', 'Angela', 'Stefano', 'Davide', 'marco']