<a href="https://colab.research.google.com/github/SimoneFinessi/Python/blob/main/liste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

liste

In [ ]:
a=[]
a=input("")
print(a)

In [ ]:
b=[1,2,3,4,5,6,7,8,9,10]
print(b)

In [ ]:
type(b)

In [ ]:
c=[12,"pippo",37.42,"pluto",["qui","quo",[8,12,24],"qua"],58]
print(c[4][2][2])

24

dando al valore di print -1 si va  atrovare l'ultimo elemento della lista

In [ ]:
d=[0,1,2,3,4,5,6,7,8,9,10]
print(d[-1])

10

In [ ]:
#slicing slitta la lista in due solo nella print
#visulaizzare gli elementi dal 3 al 6
print(d[3:7])
print(d[-5:])
print(d[0:5])
#visualizzazione del penultimo e terzultimo numero
print(d[-3:-1])

print(d[2:9:2])
print(d[::2])

[3, 4, 5, 6]
[6, 7, 8, 9, 10]
[0, 1, 2, 3, 4]
[8, 9]
[2, 4, 6, 8]
[0, 3, 6, 9]

In [ ]:
#lunghezza lista√π
len(d)

min trova il numero minore , max quello maggiore e SUM la somma

In [ ]:
1 in d

False

In [ ]:
stringa="la mamma e bella"
lista=list(stringa)
print(lista)

e=[0,1,2,3,4,5,6,7,8,9,10]
e.append([2])
#append appende una lista add dentro un'altra lista

print(e)

['l', 'a', ' ', 'm', 'a', 'm', 'm', 'a', ' ', 'e', ' ', 'b', 'e', 'l', 'l', 'a']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [2]]

In [ ]:
q=[0,1,2,3,4,5,6,7,8,9,10]
#extende aggiunge eleenti ad una lista gia esistente
q.extend([11,12,13,14])
print(q)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [10]:
lista1=[8, 17,-5,4,76,9,2]
print(lista1[0])
print(lista1[-1])
print(lista1[len(lista1)-1])

8
2
2

In [11]:
#aggiungere i valori 7 4 8 9 alla lista
lista1.extend([7, 4, 8, 9])
print(lista1)

[8, 17, -5, 4, 76, 9, 2, 7, 4, 8, 9]

In [13]:
lista1.sort()
print(lista1)

[-5, 2, 4, 4, 7, 8, 8, 9, 9, 17, 76]

In [24]:
#lista1.remove(8)
print(lista1)
lista1=list(filter((9).__ne__,lista1 ))
print(lista1)

[-5, 4, 4, 7, 9, 9, 17, 76]
[-5, 4, 4, 7, 17, 76]