<a href="https://colab.research.google.com/github/SimoneFinessi/Python/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Una tupla è una struttura dati ordinata e non modificabile.
Si forma con le parentesi tonde

In [ ]:
tupla1=(1,2,3,4,5)
print(tupla1)

(1, 2, 3, 4, 5)

Gli elementi tuple sono ordinati, non modificabili e consentono valori duplicati. 
Sono indecizzate infatti il primo elemento della tuple ha valore di index "0"

Le tuple non sono modificabili, il che significa che non possiamo modificare, aggiungere o rimuovere elementi dopo che la tupla è stata creata.

quindi se ci serisse un vettore non modificabile non useremmo list ma una tupla

In [ ]:
tupla1.append(1) #non funziona perché non e modificabile

Per creare una tupla con un solo elemento, devi aggiungere una virgola dopo l'elemento

In [ ]:
tupla2=("prova",)
print(type(tupla2))
print(tupla2)
tupla2=("prova")
print(type(tupla2))

<class 'tuple'>
('prova',)
<class 'str'>

puo cotenere tutti i tipi di dati, pure tutti insieme in ua sola tuple

In [ ]:
tupla3=("ciao", 1, True,2,"hello")
print(tupla3)

<class 'tuple'>
('ciao', 1, True, 2, 'hello')

si puo usare anche la funzione "tuple()" per crearne una

In [ ]:
prova=tuple(("ciao",24))
print(prova)

<class 'tuple'>
('ciao', 24)

**esercizio**

generare 20 numeri casuali non uguali che varino da 1 a 100, poi inserirli in un vettore adeguato che non sia modificabile.

In [ ]:
import random
tuple4=random.sample(range(1,100),20)
tuple4=tuple(tuple4)
print(tuple4)
print(type(tuple4))

(58, 44, 19, 18, 65, 42, 23, 28, 77, 87, 9, 43, 5, 8, 79, 74, 98, 78, 3, 21)
<class 'tuple'>

aggiungere i primi 3 cognomi della classe in posizioe 1 all precedente vettore

In [ ]:
tuple4=list(tuple4)
tuple4[0:0]=["avasiloae","bernasconi","cottone"]
tuple4=tuple(tuple4)
print(tuple4)

('avasiloae', 'ernasconi', 'cottone', 58, 44, 19, 18, 65, 42, 23, 28, 77, 87, 9, 43, 5, 8, 79, 74, 98, 78, 3, 21)